@import "@fontsource-variable/noto-sans-sc";

html {
  font-family: "Noto Sans SC Variable", "Microsoft YaHei UI", sans-serif;
  font-optical-sizing: auto;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background: #f4f6ef;
}

body {
  margin: 0;
  min-width: 760px;
  min-height: 100vh;
  font-size: 13px;
  font-weight: 450;
}

::selection {
  color: #10211d;
  background: #dfff45;
}
